<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <!--css-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v5.8.1/css/all.css'>

    <title>Home</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark" style="position: fixed; width: 100%; z-index: 1;">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="fas fa-code fa-1x pb-2 icon2-color"></i>
            </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item active">
                    <a class="nav-link navigation-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}

                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users' %}">Users</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
              {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="box">
                        {% if user.is_authenticated %}
                        <h1>Hello, {{ user.first_name }} {{ user.last_name }}</h1>

                        {% if user.is_superuser %}
                        <a class="register text-muted" href="{% url 'users' %}">User management</a><br>
                        <a class="register text-muted" href="{% url 'time' %}">Clock</a>
                        {% else %}
                        <a class="register text-muted" href="{% url 'time' %}">Click here to see a beautiful clock</a>
                        {% endif %}

                        {% else %}
                        <h1>You have nothing to see here!</h1>

                        {% endif %}

                        <div class="col-md-12">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoGithub" title="Github"><i class="fab fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>